input{
    margin:6px;
}
form {
    border: 3px solid #f1f1f1;
  }

  input[type=text],input[type=url] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
     
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .addBtn,.cancelBtn{
   
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .addBtn,.cancelBtn:hover {
    opacity: 0.8;
  }